<head>

</head>
<body>
<form action="/add_success" method="POST">
<input type="text" name="blogtitle" id="heading" placeholder="enter your blog heading" required="required"><br>
<textarea name="blog" id="blog" placeholder="enter your blog here" required="required" rows="20" cols="50"></textarea><br>
<button>ADD NOW</button>
</form>
</body>