<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://127.0.0.1:3050/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="top">
    
    
    <div id="pic">
    <!-- <img src="images/b.jpeg" alt="profilepic"> -->
   </div>
   <h1 style="text-align: center; color: aqua;">HI PRASANTA</h1>
   <p style="color:white; text-align: center;">
        A study conducted involving web engineering practice revealed that web application <br> 
        development has several characteristics that have to be addressed and these include: <br>
        short development life-cycle times; different business models; multi-disciplinary 
        development teams;
   </p>
   <h1 style="text-align: center; color: aqua;">MY BLOGS</h1>
   <div id="nav_container">
   <div id="navbar">
   <ul style="color:blue;">
       <li>Home</li>
       <li>Images</li>
       <li>Videos</li>
       <li><a href="#about_section" id="about">About Us</a></li>
       <li>Cotact</li>
   </ul>
</div>

<div id="navsearch">
    <form>
    <button type="submit" id="submitbtn">Search</button>
    <input type="text" placeholder="Search.." name="search" id="search">
    
</form>
</div>
</div>

</div>
<div style="margin-bottom: 0px;">
    <article style="text-align: center;">
        <h2>First Blog</h2>
        <div id="blog">
            <p>
                A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                 that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                
                development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
               
               development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
               requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                
            </p>
            <button style="font-size: 30px;color:white; margin:5px; background:rgb(145, 122, 122); border:none;">Read More >></button>
        </div>
    </article>

    <article style="text-align: center;">
            <h2>Second Blog</h2>
            <div id="blog">
                    <p>
                            A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                             that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                            
                            development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                            requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                            A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                            that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                           
                           development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                           requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                            
                        </p>
                        <button style="font-size: 30px;color:white; margin:5px; background:rgb(145, 122, 122); border:none;">Read More >></button>
            </div>
        </article>

        <article style="text-align: center;">
                <h2>Third Blog</h2>
                <div id="blog">
                        <p>
                                A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                                 that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                                
                                development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                                requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                                A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                                that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                               
                               development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                               requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                                
                            </p>
                            <button style="font-size: 30px;color:white; margin:5px; background:rgb(145, 122, 122); border:none;">Read More >></button>
                </div>
            </article>

            <article style="text-align: center;">
                    <h2>Forth Blog</h2>
                    <div id="blog">
                            <p>
                                    A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                                     that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                                    
                                    development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                                    requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                                    A study conducted involving web engineering practice revealed that web application development has several characteristics <br> 
                                    that have to be addressed and these include: short development life-cycle times; different business models; multi-disciplinary <br>
                                   
                                   development teams; small development teams working on similar tasks; business analysis and evaluation with end-users; explicit <br> 
                                   requirement and rigorous training against requirements; A study conducted involving web engineering practice revealed that web application <br>
                                    
                                </p>
                                <button style="font-size: 30px;color:white; margin:5px; background:rgb(145, 122, 122); border:none;">Read More >></button>
                    </div>
                </article>
</div>

<div id="about_section">
<h1 style="text-align: center;">About This Blog</h1>
<div class="social_container">
<ul class="ulsocial">
    <li class="social"><i class="fa fa-facebook"></i></li>
    <li class="social"><i class="fa fa-linkedin"></i></li>
    <li class="social"><i class="fa fa-google"></i></li>
    <li class="social"><i class="fa fa-github"></i></li>
</ul>
</div>
<div class="inner_about">
    <h2 style="text-align: center;">Top Tutorials</h2>
    <ol>
<li> HTML Tutorial</li>
<li>CSS Tutorial</li>

<li>JavaScript Tutorial </li>
<li>Bootstrap Tutorial</li>
 
<li>PHP Tutorial</li> 
<li>jQuery Tutorial</li>
 
<li>Java Tutorial</li> 
<li>C++ Tutorial</li>
</ol>
</div>

<div class="inner_about">
    <h2 style="text-align: center;">Top Blogs</h2>
    <ol>
    <li> HTML Blog </li>
    <li>CSS Blog</li>
    <li>JavaScript Blog</li>
    <li>SQL Blog</li>
    <li>Python Blog</li>
    <li>W3.CSS Blog</li>
    <li> Bootstrap Blog</li>
    <li>PHP Blog</li>
    <li>jQuery Blog</li>
    <li>Java Blog</li>
    <li>Angular Blog</li>
</ol>
</div>

<div class="inner_about">
        <h2 style="text-align: center;">Top References</h2>
        <ol>
        <li> HTML Reference</li>
        <li>CSS Reference</li>
        <li>JavaScript Reference</li>
        <li>SQL Reference</li>
        <li>Python Reference</li>
        <li>W3.CSS Reference</li>
        <li>Bootstrap Reference</li>
        <li>PHP Reference</li>
        <li>HTML Colors</li>
        <li>jQuery Reference</li>
        <li>Java Reference</li>
        <li>Angular Reference</li>
        </ol>
</div>

</div>

</body>
</html>