<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
	<link rel="stylesheet" href="http://127.0.0.1:3050/css/style.css">
</head>
<body>
    
        <div id="maincontainer">
                <h2 id="sign">Login</h2>
                <form action="/login_success" method="POST" id="login-form">
                        User Name : <br>
                        <input type="email" name="username" id="username" placeholder="enter your user name"><br>
                        Password : <br>
                    <input type="password" name="password" id="password" placeholder="create your password">
                    <br>
                    <input type="submit" value="Login">
                    </form>
</body>